body {
  background-color: white;
  line-height: 8px;
  vertical-align: middle;
  font: 12px Cambria, verdana, sans-serif;
}
.font {
  padding-right:20px;
  font-size: 12px;
  line-height: 8px;
  vertical-align: middle;
  font: 12px Cambria, verdana, sans-serif;
}