

h1 { 
color:#003300; 
font:22px "Trebuchet MS"; 
text-align:center; 
}
</style>
body {
    font-family:georgia;
    font-size: 14px;
    text-align: left;
}
#form {
 
}
fieldset {
    background-color: #E1E1E1;
}
label {
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
    cursor: hand;
}
label.error {
    width: auto;
    display: inline;
    color: #F60;
    font-style: italic;
}
input.error {
    border-color: #FF0000;
}
input.submit {
    margin-left: 150px;
}
